<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:task="http://www.springframework.org/schema/task"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.2.xsd">


    <context:component-scan base-package="com.ht">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="classpath*:appfx-spring-service.xml"/>
    <bean class="com.ht.bim.common.SwaggerConfig"/>
    <!-- 设置任务执行者池的大小 -->
    <task:executor id="executor" pool-size="5" />
    <!-- 设置调度程序池的大小 -->
    <task:scheduler id="scheduler" pool-size="10" />
    <!-- 采用注解驱动的方式配置Spring定时器 -->
    <task:annotation-driven executor="executor" scheduler="scheduler" />

</beans>
